<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
<!--         <nav>
            <ul>
              <li><a href="index.html"> <strong>Home</strong></a></li>
              <li><a href="research.html"> <strong>Research</strong></a></li>
              <li><a href="teaching.html"> <strong>Teaching</strong></a></li>
            </ul>
        </nav> -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          
          <button class="navbar-toggler" type="button" data-trigger="#main_nav">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse" id="main_nav">
            <div class="offcanvas-header mt-3">  
              <button class="btn btn-outline-danger btn-close float-right"> &times Close </button>
              <h5 class="py-2 text-white">Main navbar</h5>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item active"> <a class="nav-link" href="#">Home </a> </li>
              <li class="nav-item"><a class="nav-link" href="#"> Research </a></li>
              <li class="nav-item"><a class="nav-link" href="#"> Teaching </a></li>
            </ul>
          </div> <!-- navbar-collapse.// -->
        </nav>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>&copy; Copyright <script>document.write(new Date().getFullYear())</script> Peng Huang. All rights reserved.</p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
